.image-large {
  border-radius: 15px;
  margin-right: 25px;
  width: 120px;
  height: 120px;
}

.select-contact-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #1A1C1D;
}

.select-contact-designation {
  font-size: 14px;
  font-weight: 400;
  color: #8083A3;
}

.actions {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.detail-item {
  display: flex;
  margin-bottom: 20px;

  .heading {
    flex: 0 1 20%;
    color: #8083A3;
    font-size: 14px;
  }

  .social-btns {

    .gap-10 {
      margin-right: 10px;
    }

    .social-icon {
      height: 18px;
      width: 18px;
      opacity: 50%;
    }
  }

}

.mat-stroked-button {
  padding: 0 !important;
  min-width: 40px;

  mat-icon {
    font-size: 18px;
    vertical-align: bottom;
    color: #8083A3;
  }
}

.flex-1 {
  flex: 1;
}

.d-flex {
  display: flex;
}
